span {
  width: 14px;
  height: 17px;
  background: grey;
  display: block;
  color: white;
  border-radius: 50%;
  padding-left: 2px;
  float: right;
}
span#edit {
  text-align: center;
  padding: 0;
}
